.testimonials {
  height: 90vh;
  overflow-y: hidden!important;
  padding-bottom: 5rem;
  background-color: #f3f3f3;
}
.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
  width: 60%;
  box-shadow: #d2d2d2 0 0 .8rem;
  background-color: #f3f3f3;
}
.Heading h2{
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 500;
    text-align: center;
}

.Heading p {
    font-size: 1.1rem;
    color: #737373;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.upperbox p{
  color: #5a5a5a;
  text-align: center;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowerbox {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.lowerbox img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.lowerbox h4{
  font-size: 1rem;
  color: #474747;
  margin-bottom: .5rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}